
<footer class="piedepagina text-center text-white">
    <!-- Grid container -->
    <div class="container">
        <br><br>
        <h3 class="textoBlanco"> SÍGUENOS EN NUESTRAS REDES SOCALES</h3>
        <br>
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- linkedin -->
        <a  href="https://www.linkedin.com/company/zafiroapp/?viewAsMember=true" target="_blank">
            <img src="/images/linkedin.png" alt="">
        </a>
  
        <!-- Twitter -->
        <a href="https://twitter.com/zafiroapp" target="_blank"></a>
        <img src="/images/twitter.png" alt="">
  
        <!-- youtube -->
        <a href="https://www.youtube.com/channel/UCsrBCe3HvrQsC7dH7Xd6y0g/videos" target="_blank" >
            <img src="/images/youtube.png" alt="">

        </a>
  
        <!-- facebook -->
        <a href="https://www.facebook.com/Zafiroaplicacion" target="_blank" >
            <img src="/images/facebook.png" alt="">
        </a>
  
        <!-- Instagram -->
        <a href="https://www.instagram.com/zafiroapp/" target="_blank" >
            <img src="/images/instagram.png" alt="">
        </a>
        <!-- Github -->
        <a href="#!" target="_blank" >
            
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <div class="fondoAzul">
        <div class="contenedorFooter">
            <div class="row">            
            <div class="col-lg-3 col-md-3 col-sm-12 cajonesFooter">               
                <img src="/images/logoFoter.png" alt="" class="">                    
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 cajonesFooter "> 
                <h5>Documento</h5>
                <ul>
                    <li>Brochure</li>
                    <li>Políticas</li>
                    <li>Términos y condiciones</li>
                </ul>
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 cajonesFooter"> 
                <h5>Servicios</h5>
                <ul>
                    <li>Directorio médico</li>
                    <li>Foro médico</li>
                    <li>Cargue de soportes</li>
                </ul>
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 cajonesFooter"> 
                <h5>Contacto</h5>
                <ul>
                    <li>Zafiroapp@zafiroapp.com</li>
                    <li>+57-319-617-83 38</li>
                 
                </ul>
            </div>
        </div>
        </div>   





    </div>
    <br><br>
  
    <!-- Copyright -->
    <div class="text-center p-3" >
        <br>
      © 2022 Marca registrada: Zafiro app salud
     </div>
    <!-- Copyright -->
  </footer>