<script>
  $(document).ready(function(){
    $(".hamburger .hamburger__inner").click(function(){
      $(".wrapper").toggleClass("active")
    })

    $(".top_navbar .fas").click(function(){
       $(".profile_dd").toggleClass("active");
    });
  })
</script>


<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="hamburger__inner">        
        <img src="/images/logo_zafiro2.png" class="logitoZaf ">              
       </div>
    </div>
    <div class="menu">
     <!--Container Main start-->
  <div class="height-100 bg-light">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
          </ul>
          <ul class="navbar-nav ">
            
            <%# <%= render 'layouts/notifications' %>
            <%= render 'user/session_manager' %> 
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!--Container Main end-->


  </div>
    <br>
  <div class="main_container">
      <div class="sidebar">
          <div class="sidebar__inner ">            
            <ul class="center">  
              <li class="left">
                <%= link_to root_path  do %> 
                  <img src="/images/inicio.png" alt="" class="iconoInicio " >
                  <span class="tituloSide">Inicio</span>                          
                 <% end %>           
                </a>
              </li>
              <br>              
              <br>
              <br>

             
            </ul>
          </div>
      </div>

  </div>
  
</div>	